@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@tailwind utilities;

@config "../tailwind.config.js";

/* Global styles for html/body */
@layer base {
  html {
    @apply bg-background text-text;
  }
}

/* Optional utility for subtle photo hover effect */
@layer components {
}

@layer utilities {
  button {
    @apply cursor-pointer;
  }
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

/* // Firefox (still limited, but we can make it subtle)
// scrollbar-width: thin;
// scrollbar-color: transparent transparent; */

/* // Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.06);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 999px;
  transition: background 0.25s ease;
}

/* // Reveal scrollbar only on hover/focus
// &:hover,
// &:focus-within {
//   scrollbar-color: var(--color-scrollbar-thumb) transparent;

//   &::-webkit-scrollbar-thumb {
//     background: var(--color-scrollbar-thumb);
//   }

//   &::-webkit-scrollbar-thumb:hover {
//     background: var(--color-scrollbar-thumb-hover);
//   }
// } */
